.categories {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.categories h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
  width: 150px;
  text-align: center;
  position: relative;
}

.card a {
  color: #333;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.card a:hover {
  color: #ff4500;
}

.card.traditional {
  background-image: url(https://dummyimage.com/150x150/8f001a/fff);
}

.card.spicy {
  background-image: url(https://dummyimage.com/150x150/e60000/fff);
}

.card.milk {
  background-image: url(https://dummyimage.com/150x150/ffe0b3/000);
}

.card.chocolate {
  background-image: url(https://dummyimage.com/150x150/4d2800/fff);
}

.card.salty {
  background-image: url(https://dummyimage.com/150x150/666666/fff);
}

.card.nuts {
  background-image: url(https://dummyimage.com/150x150/acc6e9/000);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 15px solid #fff;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.card.traditional::before {
  border-top-color: #8f001a;
}

.card.spicy::before {
  border-top-color: #e60000;
}

.card.milk::before {
  border-top-color: #ffe0b3;
}

.card.chocolate::before {
  border-top-color: #4d2800;
}

.card.salty::before {
border-top-color: #666666;
}

.card.nuts::before {
border-top-color: #acc6e9;
}